services:
  open-webui:
    build:
      context: .
      dockerfile: Dockerfile
    image: ax/open-webui:0.6.43-fix2-AppleSilicon
    container_name: open-webui
    volumes:
      - open-webui:/app/backend/data
    ports:
      - ${OPEN_WEBUI_PORT-3000}:8080
    environment:
      - 'WEBUI_SECRET_KEY='
      - 'DISABLE_ADMIN=false'
      - 'CHAT_DELETE_ENABLED=true'
      - 'CHAT_DELETE_DAYS=1'
      - 'ENABLE_PASSWORD_VALIDATION=true'
      - 'PASSWORD_BLACKLIST=kftc,admin'
    extra_hosts:
      - host.docker.internal:host-gateway
    restart: unless-stopped

volumes:
  open-webui: {}
